body {
    font-family: 'Josefin Sans', sans-serif;
}

#map {
    width: 65%;
    height: 400px;
    float: right;
    border: 2px solid dodgerblue;
    margin: 10px;
}

.text-center {
    width: 25rem;
}

h3 {
    font-size: 20px;
}

p:first-letter {
    text-transform: uppercase;
}




