body {
    font-family: 'Josefin Sans', sans-serif;
}

#map {
    width: 75%;
    height: 700px;
    float: right;
    border: 2px solid dodgerblue;
}

.text-center {
    width: 25rem;
}

h1 {
    font-size: 20px;
}

p:first-letter {
    text-transform: uppercase;
}




